.container-banner {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    max-height: 1100px;
}

.banner_wrapper {
    background-image: url(../images/banner1/image.jpg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

}


.banner-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    


}

.banner-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 170px;
}

.banner__logo {
    width: 270px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 51px;
}

.banner-logo__image-1{
 padding: 23px 5px 22px 0;
}

.banner-logo__image-2{
 padding: 23px 0 22px 0;
}

.banner__title {
 
}
.banner-header__title{
    width: 670px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    line-height: 56.35px;
    color: white;
    margin-bottom: 55.12px;

}

.banner__title::after {
    content: "";
    width: 170px;
    height: 1.82px;
    background-color: white;
    display: block;
    margin-bottom: 42px;
}

.banner__text {
    width: 270px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.banner__button {
    width: 270px;
    height: 58px;
    font-family: 'Open sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 21.54px;
    color: white;
    border: 2px solid white;
    padding: 19px ;
    text-align: center;
    margin-bottom: 185px;
    transition: 0.2s;
}
.banner__button:hover{
    border: 2px solid #EC7979;
    color:#EC7979;
    cursor: pointer;
}

.banner-form {
    display: flex;
    justify-content: center;

}

.form-input {
    
    background-color: #FFFFFF;
    list-style-type: none;
    border: none;
    border-radius: 10px;
}

.form-title {
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 45px;
    border: none;
    padding: 33px 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;

}

span {
    color: #EC7979;
}


.input-name {
    list-style-type: none;
    height: 38px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #BDBDBD;
    text-align: left;
    border: none;
    margin-bottom: 33px;
    border-bottom: 1px solid #BDBDBD;
    

}


.form-button {
    background-color: #EC7979;
    font-family: 'Open sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20.43px;
    color: #FFFFFF;
    margin-top: 72px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    transition: 0.2s;
}
.form-button:hover{
    background-color: #AB4949;
    color: white;
    cursor: pointer;
}