.banner {
    background-image: url(../images/banner1/image.jpg);
    background-size: cover;
    background-position: center;
    padding: 208px 0 185px 0;
    position: relative;
}

.banner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);

}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.banner_wrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;

}


.banner-content {
    margin: 0 -15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 170px 0 170px;



}

.banner-card {
    /* margin: 0 -15px; */
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__logo {
    width: 270px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 51px;
}

.banner-logo__image-1 {
    padding: 23px 5px 22px 0;
}

.banner-logo__image-2 {
    padding: 23px 0 22px 0;
}

.banner__title {}

.banner-header__title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 48px;
    line-height: 56.35px;
    color: white;
    margin-bottom: 55.12px;

}

.banner__title::after {
    content: "";
    width: 170px;
    height: 1.82px;
    background-color: white;
    display: block;
    margin-bottom: 42px;
}

.banner__text {
    width: 270px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.banner__button {
    width: 270px;
    height: 58px;
    font-family: 'Open sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 21.54px;
    color: white;
    border: 2px solid white;
    padding: 19px;
    text-align: center;
    transition: 0.2s;
}

.banner__button a {
    color: white;
    cursor: pointer;

}

.banner__button a:hover {
    color: #EC7979;

}

.banner__button a:active {
    color: white;

}


.banner__button:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
    cursor: pointer;
}

.banner__button:active {
    background-color: #AB4949;
    color: #EC7979;
    cursor: pointer;
}


.fieldset {
    width: 470px;
    height: 450px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;

}

.banner-form {
    /* margin: 0 -15px; */
    display: flex;
    justify-content: center;
    padding-bottom: 108px;

}

.form1 {
    width: 470px;
    border-radius: 10px;
    overflow: hidden;

}

.form_content {
    background-color: #FFFFFF;
    padding: 0 50px 75px 50px;
}



.form__title {
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    text-transform: uppercase;
    color: black;
    border: none;
    padding: 33px 0;
}

span {
    color: #EC7979;
}

.form_content__item {
    padding-bottom: 33px;

}

.input {
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;

}

.label {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #BDBDBD
}




.form-button {
    width: 470px;
    height: 60px;
    background-color: #EC7979;
    font-family: 'Open sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20.43px;
    color: #FFFFFF;
    border: none;
    transition: 0.2s;
}

.form-button a {
    color: white;
}

.form-button:hover {
    background-color: #AB4949;
    color: white;
    cursor: pointer;
}

.form-button:active {
    background-color: #EC7979;

    box-shadow: inset 0px 4px 10px 0px #33333333;
}

@media(max-width:1024px) {
    .banner {
        padding: 0 20px 0 115.28px;
    }

    .container {
        padding: 0;
    }

    .banner_wrapper {}

    .banner-content {
        padding: 0;
    }

    .banner-card {
        width: 454.36px;
        padding: 136.84px 0 131.89px 0;
    }

    .banner__logo {
        align-items: center;
        margin: 0;
        padding-bottom: 37.61px;
    }

    .banner-logo__image-1 {
        width: 69.17px;
        height: 41.17px;
        padding: 0;

    }

    .banner-logo__image-2 {
        padding: 0;
        height: 41.17px;
        width: 42.72px;
    }

    .banner__title {
        align-items: center;
    }

    .banner-header__title {
        margin: 0;
        /* width: 456.36px; */
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 43px;
    }

    .banner__title::after {
        content: "";
        width: 115.28px;
        height: 1px;
        background-color: white;
        display: block;
        /* margin: 41.42px 0 39px 0; */
        position: absolute;
        top: 40;
        left: 27%;
    }

    .banner__text {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding: 42px 0 31.32px 0;
        margin: 0;
    }

    .banner__button {
        width: 183px;
        padding: 15px;
    }

    .banner-form {
        width: 398px;
        padding: 120.15px 0 106px 0;
    }

    .form__title {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }

    .form_content__item {

        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        align-items: center;
    }

    .form-button {
        width: 398px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        align-items: center;
        text-align: center;
    }
}

@media(max-width:320px) {
    .banner {
        padding: 84.12px 16px 50px 16px;
    }

    .banner_container {
        width: 288px;
        padding: 0;
    }

    .banner-card {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .banner__logo {
        display: none;
    }

    .banner__title {}

    .banner-header__title {
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }

    .banner__title::after {
        content: "";
        width: 134px;
        height: 1px;
        background-color: white;
        display: block;
        margin-bottom: 42px;
        align-items: center;
    }


    .banner__text {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        text-align: center;
    }

    .banner__button {
        width: 288px
    }

    .banner-form {
        padding: 0;
        padding-top: 57px;
        width: 288px;
    }

    .form_content {
        padding: 0 28px 0 20px;
    }

    .form__title {
        width: 240px;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }

    .form_content__item {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        align-items: center;
    }

    .label {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        align-items: center;
    }

    .form-button {
        width: 288px;
    }
}