.container_header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_wrapper {
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: space-between;

}

.header-logo {
    width: 183.1px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 115.28px;

}

.header-logo__image1 {
    padding: 22.46px 2.81px 21.71px 0;
}

.header-logo__image2 {
    padding: 22.46px 0 21.71px 0;

}

.nav {
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.menu-link {
    width: 113.8px;
    background-color: black;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19.07px;
    color: white;
    border: none;
   padding:1px  0 auto;
   transition: 0.4s;
}
.menu-link:hover{
    background:#EC7979 ;
    color: black;
    height: 30px;
    border-radius: 5px;
    transform: translate(-5px, 5px);
    cursor: pointer;
    
}