.header {display: none;
    
    background-color: black;
    padding: 22px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 6;

}
.container_header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-logo {
    width: 183.1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 115.28px; */

}

.header-logo__image1 {
    padding: 0 2.81px 0 0;
}

/* .header-logo__image2 {
    padding: 0 0 0 0;

} */

.nav {
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.nav-menu {
     list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.menu-link {
    width: 113.8px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19.07px;
    color: white;
    text-align: center;
   padding:1px  0 auto;
   
}

.menu-link a{
    color: white;
}
.menu-link:hover{
  border-bottom: 3px solid #EC7979;
    
}