
.container-pricing {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.pricing {
    background-color: #F5F5F5;
    padding-bottom: 50px;
}

.pricing-header {
    text-align: center;
}

.pricing-header__title {
    height: 150px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    padding: 57px;

}
.pricing-header__title::after{
    content: "";
    width: 170px;
    height: 1.82px;
    background-color: #EC7979;
    display: block;
    margin: 50px auto;
    
}

.pricing-header__subtitle {
    height: 21px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 40px 0 59px 0;
    color: #86878B;
}

.pricing-cards {
    display: flex;
    justify-content: space-between;

}

.pricing-1 {
    width: 370px;
    height: 510px;
    padding-top: 20px;
}

.list-1 {
    text-transform: capitalize;
    list-style-type: none;
}

.pricing-2 {
    width: 370px;
    height: 510px;
    box-shadow: 0px 4px 10px 0px #33333333;

}

.list-2 {
    text-transform: capitalize;
    list-style-type: none;
}

.pricing-3 {
    width: 370px;
    height: 510px;
    padding-top: 20px;

}

.list-3 {
    text-transform: capitalize;
    list-style-type: none;


}

.list-name {
    height: 60px;
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    background-color: #333333;
    text-align: center;
    padding: 12px;
}

.price {
    height: 100px;
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    background-color: #333333;
    color: #FFFFFF;
    padding:24px;
}

.text {
    height: 50px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    background-color: #333333;
    color: #FFFFFF80;
    text-align: center;

}

li {
    height: 50px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    padding: 12px;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;

}