.review{
    padding: 50px 0 64px 0;
}
.container-review {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.review_wrapper {}

.review-header {
    text-align: center;
}

.review-header__title {
    height: 150px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    padding: 57px;
}

.review-header__title::after {
    content: "";
    width: 170px;
    height: 1.82px;
    background-color: #EC7979;
    display: block;
    margin: 50px auto;

}

.review-header__subtitle {
    height: 21px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 40px 0 59px 0;
    color: #86878B;
}
.review-cards {
    display: flex;
    justify-content: space-between;
}
.review-card__one{
    width: 370px;
    height: 336px;
    
    display: flex;
    flex-direction: column;
}
.background-card {
    width: 370px;
    height:180px ;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
}
.background-card::after {
    content: "";
	width: 20px;
	height: 30px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: relative;
    top:95px;
    left:70px;
}
.review-card-text {
    height: 105px;
    padding: 38px  25px 37px 25px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;


}
.review-comment {
    display: flex;


    
}
.review-comment__photo-1 {
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 15px;
    
}
.review-comment__username {
    padding-left: 30px;
}
.name {
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    width: 259px;
    height: 54px;
    padding-bottom: 15px;
}
.manager {
    width: 270px;
    height: 21px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.review-card__two{
    width: 370px;
    height: 336px;
    display: flex;
    flex-direction: column;

}
.review-card__three{
    width: 370px;
    height: 336px;
    
    display: flex;
    flex-direction: column;
}
.review-comment__photo-2 {
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 15px;
}
.review-comment__photo-3 {
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 15px;
}