.review{
    padding: 50px 0 64px 0;
}
.review_container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.review_wrapper {}

.review-header {
    text-align: center;
}

.review-header__title {
    height: 150px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    padding: 57px;
}

.review-header__title::after {
    content: "";
    width: 170px;
    height: 1.82px;
    background-color: #EC7979;
    display: block;
    margin: 50px auto;

}

.review-header__subtitle {
    height: 21px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 40px 0 59px 0;
    color: #86878B;
}
.review-cards {
    display: flex;
    justify-content: space-between;
}
.review-card__one{
    width: 370px;
    height: 336px;
    
    display: flex;
    flex-direction: column;
}
.background-card {
    width: 370px;
    height:180px ;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
}
.background-card::after {
    content: "";
	width: 20px;
	height: 30px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: relative;
    top:95px;
    left:70px;
}
.review-card-text {
    height: 105px;
    padding: 38px  25px 37px 25px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    text-align: center;


}
.review-comment {
    display: flex;
    
}
.review-comment__img{
    width: 70px;
    height: 70px;
}
.review-comment__photo-1 {
    position: relative;
    bottom: 15px;
    
}

.review-comment__username {
    padding-left: 30px;
}
.name {
    font-family: 'Open sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    width: 259px;
    height: 54px;
    padding-bottom: 15px;
}
.manager {
    width: 270px;
    height: 21px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.review-card__two{
    width: 370px;
    height: 336px;
    display: flex;
    flex-direction: column;

}
.review-card__three{
    width: 370px;
    height: 336px;
    
    display: flex;
    flex-direction: column;
}
.review-comment__photo-2 {
    position: relative;
    bottom: 15px;
}
.review-comment__photo-3 {
    position: relative;
    bottom: 15px;
}
@media(max-width:1024px){
    .review {
        padding: 50px 16px 57px 16px;
}
.review_container {
    padding: 0;
}

.review-header__title {
    height: 120px;
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        padding: 0;
        padding-top: 48px;
}

.review-header__title::after {
    content: "";
    width: 142px;
    height: 1px;
    background-color: #EC7979;
    display: block;
    margin: 43px auto;
    margin: 40px 420px 22px 420px;
}
.review-header__subtitle {
    font-family: 'Raleway';
font-weight: 400;
font-size: 14px;
line-height: 16px;
align-items: center;
text-align: center;
padding: 32px 0 32px 0;
}

.review-cards {
}
.review-card__one {
    width: 317px;
}
.background-card {
    height: 180px;
width: 317px;
border-radius: 10px;

}
.background-card::after {
    content: "";
	width: 25.7px;
height: 20px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
    position: relative;
    top:100px;
    left:70px;
}
.review-card-text {
    height: 80px;
    font-family: 'Raleway';
font-weight: 400;
font-size: 14px;
line-height: 16px;
align-items: center;
text-align: center;
padding: 50px 30px;
}

.review-comment__photo-1 {
    position: relative;
    bottom: 2px;
}
.review-comment__username {
    padding-left: 22.54px;
}
.name {
    font-family: 'Open Sans';
font-weight: 700;
font-size: 18px;
line-height: 25px;
align-items: center;
text-transform: capitalize;
padding: 0;
height: 36px;
}
.manager {
    font-family: 'Raleway';
font-weight: 400;
font-size: 14px;
line-height: 16px;
align-items: center;
}
.review-card__two {
    width: 317px;
}
.review-comment__photo-2 {
    position: relative;
    bottom: 2px;
}
.review-card__three {
    width: 317px;
}
.review-comment__photo-3 {
    position: relative;
    bottom: 2px;
}
.review-comment__img{
    width: 63px;
    height: 63px;
}
}

@media(max-width:320px){
    .review {
        padding:0 16px 31.51px 16px
    }
    .review_container {
        padding: 0;
    }
    .review_wrapper {
    }
    .review-header {
    }
    .review-header__title {
        font-family: 'Raleway';
font-weight: 400;
font-size: 24px;
line-height: 28px;
align-items: center;
text-align: center;
text-transform: uppercase;
    }
    .review-header__title::after {
        content: "";
        width: 134px;
        height: 1px;
        background-color: #EC7979;
        display: block;
        margin: 43px auto;
        margin: 20px 75px 22px 75px;
    }
    .review-header__subtitle {
        font-family: 'Raleway';
font-weight: 400;
font-size: 14px;
line-height: 16px;
align-items: center;
text-align: center;
padding: 24px 0;

    }
    .review-cards {
        flex-direction: column;
        justify-content: center;
    }
    .review-card__one {
    }
    .background-card {
    }
    .review-card-text {
    }
}