
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap');
@import url(../styles/about.css);
@import url(../styles/banner.css);
@import url(../styles/footer.css);
@import url(../styles/header.css);
@import url(../styles/pricing.css);
@import url(../styles/review.css);
@import url(../styles/social.css);
@import url(../styles/tabs.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Raleway', 'Open Sans', sans-serif;

}

