.tabs{display: none;
    padding: 99px 0 50px 0;
}
.container_tabs {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;


}

.tabs_wrapper {
    text-align: center;
    /* margin-bottom: 50px; */
}

.tabs-header {
    border-bottom: none;
    display: flex;

}

.tab1 {
    width: 203px;
    height: 40px;
    padding: 10px 81.5px 11px 81.5px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    transition: 0.2;



}

.tab1:hover {
    background-color: #AB4949;
    color: white;
}


.tab2 {
    width: 184px;
    height: 40px;
    padding: 10px 73px 11px 73px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    transition: 0.2;
}

.tab2:hover {
    background-color: #AB4949;
    color: white;
}


.tab3 {
    width: 184px;
    height: 40px;
    padding: 10px 73px 11px 73px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    transition: 0.2;
    ;
}

.tab3:hover {
    background-color: #AB4949;
    color: white;
}

.card {
    display: flex;
    border: 1px solid #C6CBCD;
}

.card-info {
    width: 570px;
    margin-left: 95px;
    display: flex;
    flex-direction: column;



}

.title {
    width: 570px;
    height: 124px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    padding: 45px 30px 27px 0;
    margin-bottom: 27px;



}

.subtitle-text {
    width: 570px;
    height: 210px;
    font-family: 'Raleway';
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin-bottom: 27px;



}

.button {
    width: 270px;
    height: 58px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: #FFFFFF;
    text-align: center;
    background-color: #EC7979;
    padding: 15px;
    margin-bottom: 54px;
    transition: 0.2s;
}
.button a {
    color: white;
}

.button:hover {
    color: white;
    background-color: #AB4949;
    cursor: pointer;
}

.card-image {
    /* width: 470px; */
    height: 500px;
    margin-left: 4px;
}